body {
    background: white;
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    width: 5em;
    color: deeppink;
    font-family: cursive;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em;
    border-radius: 1em;
  }
  
  h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
  }
  
  #player {
    width: 100px;
    height: 50px;
    background: none;
    position: absolute;
  }
  #player2 {
    width: 100;
    height: 50px;
    background: none;
    position: absolute;
  }
  
  main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
  }
  
  .mazeRow {
    display: flex;
    flex-direction: row;
  }
  
  .borderWall {
    height: 50px;
    width: 50px;
    background-image: url("Brick.jpg");
  }
  
  #start {
    height: 50px;
    width: 50px;
    border: 0.02em solid white;
    box-sizing: border-box;
    border-top: none;
    background-image: url("start.png");
  }
  #start2 {
    height: 50px;
    width: 50px;
    border: 0.02em solid white;
    box-sizing: border-box;
    border-top: none;
    background-image: url("start.png");
  }
  
  .blankSpace {
    height: 50px;
    width:50px;
    background: white;
  }
  
  .openStorage {
    height: 50px;
    width: 50px;
    background-image: url(finish.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* .box {
    height: 2em;
    width: 2em;
    background-image: url(bush.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0.5em;
    margin-top: 0.5em;
  } */
  
  .box2 {
    height: 2em;
    width: 2em;
    background-image: url(bush.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 0.5em;
    margin-top: 0.5em;
  }
  
  